<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title> <!--    title|default:"Без заголовка"-->
</head>
    <body>
        <p>{{ menu|join:" | " }}</p>
        <h1>{{ title|capfirst|cut:","|cut:"?" }}</h1>
        <ul>
            {% for p in posts %}
                {% if p.is_published %}
                    <li>
                        <h2>{{ p.title }}</h2>
                        <p>{{ p.content }}</p>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>